<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>PandaFeed | User Avatar</title>
    </head>
    <body>
        <section class="container">
            <form action="/avatar" id="form" method="post" enctype="multipart/form-data">
                <h2>Upload new avatar</h2>
                <div class="form-group">
                    <input type="file" class="form-control" name="filename" id="filename">
                </div>

                <div class="form-group">
                    <input type="submit" value="Upload File" name="submit" class="btn btn-default">
                    <a class="btn btn-default" href="/" role="button">To Chat</a>
                </div>
            </form>
        </section>
    </body>
</html>
