<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>PandaFeed | User Avatar</title>
    </head>
    <body>
        <section class="container">
            <h1>Upload new avatar</h1>
            <form action="/avatar" id="form" method="post" enctype="multipart/form-data">
                <input type="file" name="filename" id="filename">
                <input type="submit" value="Upload File" name="submit">
            </form>
        </section>
    </body>
</html>
