<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title>PandaFeed</title>
    </head>
    <body>
        <h1>Don't feed the pandas.</h1>
        <a href="chat"> Chat with them </a>
    </body>
</html>
