<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PandaFeed</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <form tag="User Login" action="/login" method="POST">
        <div align="center">
            Username *: <input type="username" name="username" id="username"/>
 
            Password *: <input type="password" name="password" id="password"/>

            <div><%= errors.loginFailed ? "Login failed!" : ''%></div>

            <input type="submit" value="Log in" />
        </div>
    </form>
    <script src="js/validations.js"></script>
    </body>
</html>